@page
@using MiniTwitterWebApp.Services
@model MiniTwitterWebApp.Areas.Identity.Pages.NewsfeedModel
@inject IProfileService ProfileService
@{
}


@if (Model.TweetsInFeed != null && Model.TweetsInFeed.Any())
{
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => "User")*@
                    User
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => "Tweet")*@
                    Tweet
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => "Date Posted")*@
                    Date Posted
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TweetsInFeed)
            {
                <tr>
                    <td>
                        <a asp-page="./Profile/Details" asp-route-id="@item.ProfileId">@Html.DisplayFor(modelItem => ProfileService.FindProfileById(item.ProfileId).DisplayName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}